{extend name='base' /}
{block name='title'}
<title>支付设置</title>
{/block}
{block name="meta"}
<style>
  th {
    text-align: center !important;
  }
  .img1:hover{
	transform: scale(10);
	position: fixed;
	z-index: 999;
}
.img1{
	width: 1.5rem;
	height: 1.5rem;
	transition: all 0.6s;
}
</style>
{/block}
{block name='body'}
<div class="x-nav">
  <span class="layui-breadcrumb">
    <a>首页</a>
    <a>商品管理</a>
    <a><cite>商品分类</cite></a>
  </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()"
    title="刷新">
    <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<input type="hidden" id="groupid" name="groupid" value="0">
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body layui-table-body layui-table-main">
          <table class="layui-table layui-form" id="datatable" lay-filter="datatable"></table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add"><i
        class="layui-icon">&#xe61f;</i>新增分类</button>
  </div>
</script>
<script type="text/html" id="barDemo">
  <div class="layui-btn-group">
    <button class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</button>
    <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</button>
  </div>
</script>
{/block}
{block name='script'}
<script src="__ASSETS__/page/admin/goods/type.js"></script>
{/block}