{extend name='base' /}
{block name='title'}
<title>系统配置</title>
{/block}
{block name="meta"}
<style>
    body {
        background-color: #fff;
    }

    .layui-form-item {
        width: 70%;
    }
    .footer{
        position: fixed;
        bottom: 0;
        right: 0;
    }
</style>
{/block}
{block name='body'}
<input type="hidden" id="token" name="token" value="{:token()}">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>微信支付(官方通道)</legend>
  </fieldset>
  <form class="layui-form" action="" lay-filter="formTest">
    <div class="layui-form-item">
      <label class="layui-form-label">APPID</label>
      <div class="layui-input-block">
        <input type="text" name="appid" lay-verify="required" value="{$wechat.config.appid}" placeholder="请输入APPID" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">商户号</label>
      <div class="layui-input-block">
        <input type="text" name="merchantid" lay-verify="required" value="{$wechat.config.merchantid}" placeholder="请输入商户号" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">微信Key</label>
      <div class="layui-input-block">
        <input type="text" name="key" lay-verify="required" value="{$wechat.config.key}" placeholder="请输入微信支付Key" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电脑网页</label>
        <div class="layui-input-block">
            <input type="radio" name="pc" value="1" title="开启" {if condition='$wechat.pc eq 1'}checked=''{/if}>
            <input type="radio" name="pc" value="0" title="关闭" {if condition='$wechat.pc eq 0'}checked=''{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机网页</label>
        <div class="layui-input-block">
            <input type="radio" name="wap" value="1" title="开启" {if condition='$wechat.wap eq 1'}checked=''{/if}>
            <input type="radio" name="wap" value="0" title="关闭" {if condition='$wechat.wap eq 0'}checked=''{/if}>
        </div> 
    </div>
  </form>
{/block}
{block name='script'}
<script>
    var form=[];
    layui.use(['laydate', 'form'], function () {
        form=layui.form;
        form.render();
    })
</script>
{/block}