<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>{$webConfig.title} - 登录</title>
    <link href="__STATIC__/login/css/default.css" rel="stylesheet" type="text/css" />
    <!--必要样式-->
    <link href="__STATIC__/login/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/login/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/login/css/loaders.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class='login' {if condition="$sysConfig.qqlogin.on eq 0"} style="height: 300px;" {/if}>
        <div class='login_title'>
            <span>{$webConfig.title} - 登录</span>
        </div>
        <div class='login_fields'>
            <div class='login_fields__user'>
                <div class='icon'>
                    <img alt="" src='__STATIC__/login/img/user_icon_copy.png'>
                </div>
                <input name="login" placeholder='用户名' maxlength="16" type='text' autocomplete="off" value="" />
                <div class='validation'>
                    <img alt="" src='__STATIC__/login/img/tick.png'>
                </div>
            </div>
            <div class='login_fields__password'>
                <div class='icon'>
                    <img alt="" src='__STATIC__/login/img/lock_icon_copy.png'>
                </div>
                <input name="pwd" placeholder='密码' maxlength="16" type='password' autocomplete="off">
                <div class='validation'>
                    <img alt="" src='__STATIC__/login/img/tick.png'>
                </div>
            </div>
            <div class='login_fields__password'>
                <div class='icon'>
                    <img alt="" src='__STATIC__/login/img/key.png'>
                </div>
                <input name="code" placeholder='验证码' maxlength="4" type='text' name="ValidateNum" autocomplete="off">
                <div class='validation' style="opacity: 1; right: -5px;top: 6px;">
                    <img src="/captcha?1" style="height: 36px;" onclick="$(this).attr('src','/captcha?'+Math.random())">
                </div>
            </div>
            <div class='login_fields__submit'>
                <input type='button' value='登录'>
            </div>
            {if condition="$sysConfig.qqlogin.on eq 1"}
            <div class='login_fields__submit' style="margin-top: 1rem;left: 45px;">
                <input value='使用QQ登录' readonly style="width: 80px;" onclick="location.href='/qqlogin'">
            </div>
            {/if}
        </div>
        <div class='success'>
        </div>
        <div class='disclaimer' style="text-align: center;">
            <a style="color: #fff;" href="/reg.html">没有账号？去注册</a>
        </div>
    </div>
    <div class='authent'>
        <div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
            <div class="loader-inner ball-clip-rotate-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <p>认证中...</p>
    </div>
    <div class="OverWindows"></div>
    <link href="__STATIC__/admin/lib/layui/css/layui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__/login/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/login/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src='__STATIC__/login/js/stopExecutionOnTimeout.js?t=1'></script>
    <script type="text/javascript" src="__STATIC__/admin/lib/layui/layui.js"></script>
    <script type="text/javascript" src="__STATIC__/login/js/Particleground.js"></script>
    <script type="text/javascript" src="__STATIC__/login/Js/Treatment.js"></script>
    <script type="text/javascript" src="__STATIC__/login/js/jquery.mockjax.js"></script>
    <script type="text/javascript" src="__STATIC__/login/img/ThreeWebGL.js"></script>
    <script type="text/javascript" src="__STATIC__/login/img/ThreeExtras.js"></script>
    <script type="text/javascript" src="__STATIC__/login/img/Detector.js"></script>
    <script type="text/javascript" src="__ASSETS__/js/md5.js"></script>
    <script type="text/javascript" src="__ASSETS__/js/common.js"></script>
    <script type="text/javascript" src="__STATIC__/login/img/RequestAnimationFrame.js"></script>
    <script id="vs" type="x-shader/x-vertex">
        varying vec2 vUv; void main() { vUv = uv; gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 ); }
	</script>
    <script id="fs" type="x-shader/x-fragment">
        uniform sampler2D map; uniform vec3 fogColor; uniform float fogNear; uniform float fogFar; varying vec2 vUv; void main() { float depth = gl_FragCoord.z / gl_FragCoord.w; float fogFactor = smoothstep( fogNear, fogFar, depth ); gl_FragColor = texture2D( map, vUv ); gl_FragColor.w *= pow( gl_FragCoord.z, 20.0 ); gl_FragColor = mix( gl_FragColor, vec4( fogColor, gl_FragColor.w ), fogFactor ); }
	</script>
    <script type="text/javascript" src="__STATIC__/login/js/style.js"></script>
</body>

</html>