<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a onclick="xadmin.add_tab('控制台首页','/admin/index/main')">
                    <i class="iconfont">&#xe6a7;</i>
                    <cite>控制台首页</cite>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="系统配置">&#xe6b8;</i>
                    <cite>系统配置</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('基础配置','/admin/config/index')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>基础配置</cite>
                        </a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('支付配置','/admin/config/pay')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>支付配置</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="用户管理">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('用户组','/admin/user/group')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户组</cite>
                        </a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('会员列表','/admin/user/index')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="商品管理">&#xe723;</i>
                    <cite>商品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('商品分类','/admin/goods/type')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品分类</cite>
                        </a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('商品列表','/admin/goods/index')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品列表</cite>
                        </a>
                    </li>
                    <!-- <li>
                        <a onclick="xadmin.add_tab('附加选项','/admin/goods/form')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>附加选项</cite>
                        </a>
                    </li> -->
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="订单管理">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('未发货订单','/admin/order/sail')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>未发货订单</cite>
                        </a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('订单列表','/admin/order/index')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>