{extend name='base' /}
{block name='title'}
<title>系统配置</title>
{/block}
{block name="meta"}
<style>
  body {
    background-color: #fff;
  }

  .layui-form-item {
    width: 70%;
  }

  .footer {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .icon{
    width: 3rem;
    height: 3rem;
  }
</style>
{/block}
{block name='body'}
<input type="hidden" id="token" name="token" value="{:token()}">

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>订单发货[ID:{$info.oid}]</legend>
</fieldset>
<div class="layui-form" action="" lay-filter="formTest">
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-block">
            <input type="text" name="sort" readonly value="{$info.goods.name}" lay-verify="required"
            autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品规格</label>
        <div class="layui-input-block">
            <input type="text" name="sort" readonly value="{$info.specs.name}" lay-verify="required"
            autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">购买数量</label>
        <div class="layui-input-block">
            <input type="text" name="sort" readonly value="{$info.num}" lay-verify="required"
            autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">发货信息</label>
        <div class="layui-input-block" style="width: 100%;">
            <textarea class="layui-textarea" rows="10" name="card"></textarea>
        </div>
    </div>
</div>

{/block}
{block name='script'}
<script>
  var forma = [];
  layui.use(['laydate', 'form','upload'], function () {
    forma = layui.form;
    upload=layui.upload;
    forma.render();
  })

  var reloads=function(){
      location.reload();
  }
</script>
{/block}